<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jshoon.jscbpm2.reply.Jscbpm2MemoReplyMapper">
<select id="getAllMemoReply" resultType="com.jshoon.jscbpm2.reply.MemoReply">
	select * from memo_reply order by mr_no DESC
</select>
<insert id="replyWrite" parameterType="com.jshoon.jscbpm2.reply.MemoReply">
	insert into memo_reply values(memo_reply_seq.nextval, #{mr_tm_no}, #{mr_owner}, #{mr_txt}, sysdate)
</insert>
<delete id="replyDelete" parameterType="com.jshoon.jscbpm2.reply.MemoReply">
	delete from memo_reply where mr_no=#{mr_no}
</delete>
</mapper>